<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./helpers/head')%>
    <title>Edit Record</title>
</head>
<body>

<%- include('./helpers/navbar') %>

<%- include('./editRecordDetails/form') %>

<%- include('./helpers/scripts') %>
</body>
</html>