<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./helpers/head') %>
    <title>MainPage</title>
</head>
<body>
<%- include('./helpers/navbar') %>
<div class="d-grid gap-2 col-8 mx-auto text-center mt-5">
    <a href="/detail/add" class="btn btn-primary" role="button">Add ID</a>
    <a href="/detail/logs" class="btn btn-primary" role="button">Show Logs</a>
</div>
<%- include('./helpers/scripts') %>
</body>
</html>
