<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./helpers/head') %>
    <title>MainPage</title>
</head>
<body>
<%- include('./helpers/navbar') %>
<pre><%= details%></pre>
<%- include('./helpers/scripts') %>
</body>
</html>
